<p>Hi <%= @user.name %>,</p>

<p>We received a request to reset your password for <strong><%= @shop.name %></strong>. Click the link below to choose a new password:</p>

<p><%= link_to @reset_url, @reset_url %></p>

<p>This link expires in <%= (Users::Credentials::RESET_TOKEN_TTL / 60).to_i %> minutes. If you didn't request a reset, you can safely ignore this email.</p>

<p>– MomGo Support</p>
